language: ruby
cache: bundler
rvm:
  - 2.2.6
  - 2.3.4
  - 2.4.1
before_install:
  - nvm install node
  - npm install -g svgo
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_success:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
notifications:
  email: false
  slack: sixtwothree:yATLmjTW15443qR7jbCWr3RO
